@charset "utf-8";
/* 基础样式 */
html{ direction:ltr;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{ margin:0; padding:0; word-wrap:break-word;}
table{ border-collapse:collapse; border-spacing:0;}
img{ border:0; vertical-align:middle;}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{ font-style:inherit; font-weight:inherit;}
del,ins{ text-decoration:none;}
ol,ul,li{ list-style:none; list-style-type:none;}
caption,th{ text-align:left;}
q:before,q:after{ content:'';}
i,em{ font-style:normal;}
pre{ white-space:pre-wrap; white-space:-moz-pre-wrap; white-space:-pre-wrap; white-space:-o-pre-wrap; Word-wrap:break-word;}
* html,* html body{ _background-image:url(about:blank); _background-attachment:fixed;}
*{ outline:none !important; -moz-outline:none !important;}
body{ height:100%; line-height:20px; color:#666; font-size:12px; font-family:Arial,"宋体","Microsoft Yahei","微软雅黑"; overflow-x:hidden; overflow-y:visible;}

/* 链接 */
a,a:link{ color:#248dac; text-decoration:none;}
a:visited{color:#248dac}/* 已访问的链接 */
a:hover{color:#61a9be}/* 鼠标移动到链接上 */
a:active{color:#61a9be}/* 选定的链接 */

/* 标题 */
h1,h2,h3,h4,h5,h6{ margin:10px 0; font-family:inherit; font-weight:bold; line-height:20px; color:inherit;}
h1,h2,h3{ line-height:40px;}
h1{ font-size:38px;}
h2{ font-size:32px;}
h3{ font-size:24px;}
h4{ font-size:18px;}
h5{ font-size:14px;}
h6{ font-size:12px;}

/* 水平分隔线 */
hr{ margin:20px 0; border:none; border-top:1px solid #dadada; border-bottom:1px solid #fff;}

/* 文本 */
code,pre{ padding:0 3px 2px; font-size:12px; color:#333; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; }
code{ padding:2px 4px; color:#d14; white-space:nowrap; background-color:#f7f7f9; border:1px solid #e1e1e8;}
pre{ padding:10px; margin:0 0 10px; font-size:12px; line-height:20px; word-break:break-all; word-wrap:break-word; white-space:pre; white-space:pre-wrap; background-color:#f5f5f5; border:1px solid #ccc; border:1px solid rgba(0,0,0,0.15); -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; display:block;}

/* 字体样式 */
.font18{ font-size:18px!important;}
.font16{ font-size:16px!important;}
.font14{ font-size:14px!important;}
.bold{ font-weight:bold!important;}
.italic{ font-style:italic!important;}
.underline{ text-decoration:underline!important;}

/* 颜色 */
.white{ color:#ffffff!important;}
.gray{ color:#939393!important;}
.red{ color:#ff0707!important;}
.green{ color:#009934!important;}
.orange{ color:#ff6c00!important;}
.black{ color:#000!important;}
.blue{ color:#248dac!important;}

/* 对齐方式 */
.txtc{ text-align:center!important;}
.txtl{ text-align:left!important;}
.txtr{ text-align:right!important;}
.txtm{ vertical-align:middle!important;}

/* 浮动 */
.left{ float:left!important; _display:inline!important;}
.right{ float:right!important; _display:inline!important;}

/* 清除布局浮动 */
.clearfix:before,.clearfix:after{ content:""; display:block;}
.clearfix:after{ clear:both;}
.clearfix{ zoom:1;}
.clear{ clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}

/* 其他 */
.hidden{ display:none!important;}
.block{ display:inline-block; *display:inline; *zoom:1;}
.nobg{ background:none!important;}
.nopadding{ padding:0!important;}
.nomargin{ margin:0!important;}
.noborder{ border:none!important;}
.nstyle *{ width:auto!important; margin:0!important; padding:0!important; font-size:12px!important; font-weight:normal!important; text-align:left!important; color:#666!important; float:none!important;}

/* 表单 */
select,textarea,input{ height:20px; line-height:20px; padding:4px 6px; font-size:12px; line-height:20px; vertical-align:middle; border:1px solid #ccc; background-color:#fff; display:inline-block; *display:inline; *zoom:1;}
textarea{ min-width:100px; height:auto;}
textarea:focus,input:focus{ border-color:rgba(82,168,236,0.8); outline:0; outline:thin dotted\9; -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6); -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6); box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6)}
input.ipt_radio,input.ipt_checkbox{width:auto!important; margin:0 5px 0 0; border:none; margin-top:1px\9; *margin-top:0; line-height:normal; background:none; cursor:pointer;}
input.ipt_radio.disabled,input.ipt_checkbox.disabled{ cursor:default;}
select,input[type="file"] { height:30px; line-height:30px; padding:0;}
select{ width:220px;}
input.disabled,textarea.disabled,select.disabled{ background-color:#eee;}

/* 布局样式 */
#header{ width:100%; height:109px; position:relative; z-index:1; overflow:hidden;}
#sidebar{ width:250px; float:left; position:relative; z-index:2;}
#container{ width:auto; min-height:500px; padding:0 0 25px; margin:0 0 0 250px; position:relative; z-index:3;}
#footer{ width:100%; margin:0 auto; text-align:center; padding:10px 0; position:relative; z-index:4;}