@charset "utf-8";
/* 布局样式 */
#header{ border-bottom:1px solid #1f2c50; background:url(../default/images/head/header.jpg) left top repeat-x;}
#container{ background:#eee;}
#footer{ color:#939da8;}

/* Grid *//*
.panelBar,
.toolBar li.hover, .toolBar li.hover a, .toolBar li.hover span, .toolBar span,
.pagination, .pagination li.hover, .pagination li.hover a, .pagination li span,
.pagination li.disabled span span,
.panelBar .line, .pagination li.jumpto, .pagination li.jumpto .goto { background:url(./images/grid/grid.png) no-repeat;}

.panelBar { border-color:#b8d0d6; background-color:#efefef;}

.grid .gridHeader { background:#EEE;}
.grid { background:#FFF;}
.grid table { border-color:#d0d0d0;}
.grid .gridHeader, .grid .gridHeader th { border-color:#d0d0d0; background:#f0eff0 url(./images/grid/tableth.png) repeat-x;}
.grid table th div { border-left-color:#EEE; border-right-color:#d0d0d0;}
.grid table td { border-color:#ededed;}

.grid .resizeMarker, .grid .resizeProxy { background:url(./images/grid/resizeCol.png) repeat-y;}

.grid .gridHeader th.hover, .grid .gridHeader th.thSelected { border-color:#aaccf6; }
.grid .gridTbody .gridRowBg { background:#f7f7f7;}
.grid .gridTbody .gridRow { border-color:#ededed;}
.grid .gridTbody .gridRow td.tdLast { border-color:#ededed;}
.grid .gridTbody .hover { border-color:#dddddd; background:#f5f5f5;}
.grid .gridTbody .hover .tdSelected { background:#f5f5f5;}
.grid .gridTbody .selected { border-color:#b8d0d6; background:#7cc5e5;}
.grid .gridTbody .selected .tdSelected { background:#e8edf3;}
.grid .gridTbody .tdSelected { background:#f8f8f8;}
.grid .error{background:#fb7e81;}

*/