@charset "UTF-8";

/**
Copyright @ 网购
 */
* { tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; -ms-tap-highlight-color: transparent; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, htuan, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; font-size: 100%: }
body { font-family: "PingHei", "Lucida Grande", "Lucida Sans Unicode", "STHeiti", "Helvetica", "Arial", "Verdana", "sans-serif"; color: #444; background: #f8f8f8; font-size: 100%: }
ul, li { list-style: none; }
a, div, header, span { -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
a { text-decoration: none; }
a, input { outline: medium; }
img { border: 0; max-width: 100%; display: block; }
.clearfix:after { content: ""; display: table; clear: both; visibility: hidden; }
.button { padding: .375rem; line-height: 1; border-radius: .125rem; }
.button-blue { background: #3a81c1; }
#wrapper { position: relative;z-index:1; display: block; max-width: 640px; min-width: 300px; height: 100%; margin: 0 auto; font-family: "PingHei", "Lucida Grande", "Lucida Sans Unicode", "STHeiti", "Helvetica", "Arial", "Verdana", "sans-serif"; color: #444; }
.msg-btn { font-size: .625rem; padding: .125rem .625rem; color: #fff; background: #76b821; border-radius: .1875rem; margin-left: .3125rem; margin-top: -.125rem; line-height: 1; }
.hide { display: none; }
.show { display: block; }
.fl { float: left; }
.fr { float: right; }
.border-bottom{border-bottom: 1px solid #e3e3e3;}
.border-top{border-top: 1px solid #e3e3e3;}
.mt10{margin-top: 10px;}
.d-ib{display:inline-block;}
.d-b{display:block;}
.w45p{width:45%;}
/*.swiper-container{margin:0 auto;position:relative;overflow:hidden;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-moz-box-orient:vertical;-ms-flex-direction:column;-webkit-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;-o-transition-property:-o-transform;-ms-transition-property:-ms-transform;transition-property:transform;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-o-transform:translate(0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.swiper-container-multirow>.swiper-wrapper{-webkit-box-lines:multiple;-moz-box-lines:multiple;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-flex-shrink:0;-ms-flex:0 0 auto;flex-shrink:0;width:100%;height:100%;position:relative}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-wp8-horizontal{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-wp8-vertical{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;-moz-background-size:27px 44px;-webkit-background-size:27px 44px;background-size:27px 44px;background-position:center;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");left:10px;right:auto}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");right:10px;left:auto}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:300ms;-moz-transition:300ms;-o-transition:300ms;transition:300ms;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-white .swiper-pagination-bullet{background:#fff}.swiper-pagination-bullet-active{opacity:1;background:#fff}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-container-vertical>.swiper-pagination{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);-moz-transform:translate3d(0,-50%,0);-o-transform:translate(0,-50%);-ms-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination .swiper-pagination-bullet{margin:5px 0;display:block}.swiper-container-horizontal>.swiper-pagination{bottom:10px;left:0;width:100%}.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet{margin:0 5px}.swiper-container-3d{-webkit-perspective:1200px;-moz-perspective:1200px;-o-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;-moz-transform-style:preserve-3d;-ms-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(right,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(left,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(bottom,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,0)));background-image:-webkit-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-moz-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:-o-linear-gradient(top,rgba(0,0,0,.5),rgba(0,0,0,0));background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;-moz-transition-timing-function:ease-out;-ms-transition-timing-function:ease-out;-o-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;visibility:hidden;-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;backface-visibility:hidden;width:100%;height:100%}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;-moz-transform-origin:100% 0;-ms-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px)}.swiper-container-cube.swiper-container-vertical .swiper-cube-shadow{z-index:0}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;-moz-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12,end) infinite;-moz-animation:swiper-preloader-spin 1s steps(12,end) infinite;animation:swiper-preloader-spin 1s steps(12,end) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");background-position:50%;-webkit-background-size:100%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")}@-webkit-keyframes swiper-preloader-spin{100%{-webkit-transform:rotate(360deg)}}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}*/
.swiper-wrapper { position: relative; z-index: 1; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; width: 100%; height: 100%; -webkit-transition-property: -webkit-transform; -moz-transition-property: -moz-transform; -ms-transition-property: -ms-transform; -o-transition-property: -o-transform; transition-property: transform; }
.swiper-slide { position: relative; width: 100%; height: 100%; -webkit-flex-shrink: 0; -ms-flex: 0 0 auto; flex-shrink: 0; }
.swiper-container-v > .swiper-wrapper{height:auto;}
.swiper-container-v{overflow:hidden;}
/*颜色*/
.black { color: #333; }
.orange { color: #fe8a0d; }
.grey { color: #999; }
.darkgray{color: #666;}
.red{color: #e53728;}

/*按钮*/
.tuanPay-btn { background: #fe8a0d; font-size: 1rem; margin: 0 10px; color: #fff; text-align: center; border-radius: 3px; }
.tuanPay-btn input { border: 0; background: none;font-size: 1rem; width: 100%;line-height: 1; padding: 7px 0; color: #fff; }

/*学校*/
.schoolMain { width: 100%; height: 100%; }
.schoolNear { margin: 10px 10px 0; }
.schoolNear-title, .schoolCheck-title { height: 34px; line-height: 33px; text-align: center; border: 1px solid #e8e8e8; }
.schoolNear-title h2, .schoolCheck-title h2 { font-size: 1rem; }
span[class$="schoolIcon"]:before { content: ""; display: inline-block; background: url(../images/schoolIcon.png) no-repeat; background-size: 40px 22px; margin-right: 10px; }
.schoolNear-title h2 span.schoolNear-schoolIcon:before { width: 21px; height: 22px; vertical-align: -5px; }
.schoolCheck-title h2 span.schoolCheck-schoolIcon:before { width: 18px; height: 19px; background-position: -22px 0px; vertical-align: -3px; }
.schoolCheck-title { margin: 0 10px; }
.schoolCheck-title a { color: #666; }

.schoolNearList { padding: 5px 0; }
.schoolNearList li { position: relative; overflow: hidden; margin: 15px 0; }
.schoolNearList li a { position: absolute; width: 100%; height: 100%; display: block; }
.schoolNearList li .snl-item-pic { margin-left:0; }
.schoolNearList li .snl-item-pic img { width: 80px; height: 80px; }
.schoolNearList li .snl-item-content { margin-left:90px; padding-top: 10px;   }
.schoolNearList li .snl-item-content, .schoolNearList li .snl-item-content span { display: block; font-size: 1rem; }
.schoolNearList li .snl-item-content .snl-item-title { color: #333; }
.schoolNearList li .snl-item-content .snl-item-p { color: #666; }

.schoolSearchForm { position: relative; height: 28px; margin: 10px; overflow: hidden; border: 1px solid #c3c3c3; border-radius: 5px;background: #fff;}
.schoolSearchForm input[type="text"] { width: 85px; height: 28px;display: block; line-height: 28px; font-size: .875rem; color: #333; background: #fff;border:0; border-radius: 5px; padding: 0 0 0 24px;margin:0 auto; }
.schoolSearchForm input[type="button"] { position: absolute; top: 6px; left: 50%; width: 15.5px; height: 15.5px; background: url(../images/schoolIcon01.png) no-repeat; background-size: 47px 16px; background-position: -17.5px 0; border: 0; margin-left: -38px; }
.schoolClose{position: absolute;top:3px;left:10px;color: #666;font-size: 20px;width: 20px;height: 20px;line-height: 1;}

.schoolSelect { position: relative; width: 100%; border-top: 1px solid #e3e3e3; }
.schoolSelect-city { position: absolute; width: 80px; background: #f7efe6; }
.schoolSelect-city li { text-align: center; height: 44px; line-height: 43px; border-bottom: 1px solid #e3e3e3; border-right: 1px solid #e3e3e3; }
.schoolSelect-city li { color: #333; font-size: .875rem; }
.schoolSelect-city li.active { background: #f8f8f8; border-right: 0; }
.schoolSelect-city li.active { color: #fe8a0d; }
.schoolSelect-content { width: 100%; padding-left: 80px; }
.schoolSelect-district { height: 35px; line-height: 35px; color: #999; padding-left: 19px; }
.schoolSelect-district:before { content: ""; display: inline-block; width: 14px; height: 16px; background: url(../images/schoolIcon01.png) no-repeat; background-position: 1px 0; background-size: 47px 16px; vertical-align: -3px; margin-right: 9px; }
.schoolSelect-district, .schoolList li { border-bottom: 1px solid #e3e3e3; font-size: .875rem; }

.schoolList { margin-left: 19px; }
.schoolList li { height: 34px; line-height: 34px; }
.schoolList li:after { content: ""; float: right; width: 9px; height: 12px; background: url(../images/schoolIcon01.png) no-repeat; background-size: 47px 16px; background-position: -38.5px 0; margin-right: 10px; margin-top: 11px; }
.schoolList li a { color: #333; }
.schoolSearch { border-top: 1px solid #e3e3e3;}

/*=============首页===============*/
/*顶部导航*/
.top, .topFixed{ width: 100%; height: 66px; z-index: 100;overflow:hidden}
.topFixed{position: relative;}
.topBack, .topNav { width: 100%; height: 100%; }
.topBack{background:#fff;opacity: 0.7;}
.topNav { position: absolute;top:0;left:0;}

.topNav li {text-align: center; }
.topNav li a { display: block; font-size: .75rem; color: #333;padding:10px 0; }
.topNav li a img { width: 30px; height: 30px; display: block;margin:0 auto; }
.topNav li a span { display: block; line-height: 1;margin-top: 4px;}
.topNav li.active a {
	color: #fe8a0d;
	background:#f2e9e0;
}
/*团购列表*/
.homeMain{overflow: hidden;}
.homeMain .tuanList{overflow: hidden;}
.tuanList li { position: relative; border: 2px solid #e3e3e3;overflow:hidden;background:#fff;margin:10px 10px 15px;}
.tuanList li a{display:block}
.tuanList .tuanList-pic { position: relative; overflow: hidden;}
.tuanList .tuanList-msg { position: absolute; top: 0; left: 0; width: 36px; height: 36px; line-height: 12px; overflow: hidden; font-size: .625rem; text-align: center; color: #fff; background: #000; opacity: 0.5; border-bottom-left-radius: 18px; border-bottom-right-radius: 18px; padding-top: 3px; margin-left: 5px; }
.tuanList .tuanList-info { padding: 7px 10px 0;overflow:hidden;}
.tuanList .tuanList-title {overflow:hidden; font-size: 1rem; line-height: 20px; }
.tuanList .tuanList-title { color: #333; font-weight: bold; }
.tuanList .tuanList-title .tuanRestrictions-msg { display:inline-block;font-size: .625rem; color: #fff; background: #fe8a0d; font-weight: normal; border-radius: 3px;line-height: 14px; padding: 2px 3px 0px; vertical-align: 2px;margin-left:3px; }
/*.tuanList .tuanList-p {line-height: 18px;overflow:hidden; font-size: .75rem; color: #fe8a0d; margin-bottom: 7px; }*/
.tuanList .tuanList-p p{ font-size: .75rem; }
.tuanList .tuanList-price { padding: 0 10px; font-size: .75rem;line-height:23px;}
.tuanList .tuanList-price .grey { margin-left: 8px; }
.tuanList .border-bottom{overflow: hidden;padding:4px 10px}
.tuanList .border-bottom:last-of-type{border-bottom:0;}
.tuan-btn, .tuan-btn-grey, .tuan-btn-o { font-size: .75rem;text-align: center;line-height: 1; padding: 5px 5px 5px; background: #fe8a0d; border-radius: 3px; }
.tuan-btn a, .tuan-btn-grey a , .tuan-btn-o a{ color: #fff;display: block; }
.tuan-btn-grey{background:#e3e3e3;}
.tuan-btn-grey a{color:#666;}
 .tuan-btn-o a{font-size:1rem;}

/*底部导航*/
.bottom{height:52px;}
.nav { position: fixed; bottom: 0; left: 0;z-index: 100; overflow: hidden; width: 100%; height: 52px; padding: 5px 10px; border-top: 1px solid #e3e3e3; background: #f3f2f2; }
.nav li { float: left; width: 25%; text-align: center; }
.nav li a { font-size: .875rem; line-height: 20px; color: #727171; }
.nav li a span { display: block; height: 23px; margin: 0 auto; background: url(../images/homeIcon.png) no-repeat; background-size: 105px 50px; }
.nav li.home a span { width: 22px; background-position: 0 0; }
.nav li.mytuan a span { width: 22px; background-position: -25.5px 0; }
.nav li.myOrder a span { width: 24px; background-position: -48.5px 0; }
.nav li.myCenter a span { width: 23px; background-position: -76.5px 0; }
.nav li.home.active a span { background-position: 0 -26px; }
.nav li.mytuan.active a span { background-position: -25.5px -25px; }
.nav li.myOrder.active a span { background-position: -48.5px -25px; }
.nav li.myCenter.active a span { background-position: -76.5px -25px; }
.nav li.active a{color:#fe8a0d;}

/*==========详细页面=========*/
/*团购信息*/
.tuanList-o{background: #fff;border-bottom: 1px solid #e3e3e3;}
.tuanList .tuanList-price-o, .tuanList .tuanList-price-o1{ padding: 10px 0; margin: 0 10px; }
.tuanList .tuanList-price-o .price { background: #e53728; font-size: .875rem; color: #fff; border-radius: 3px; padding: 2px 10px; }
.tuanList .tuanList-price-o .price .piece { margin-left: 8px; }
.tuanList .tuanList-time, .tuanList-kai { margin: 0 10px; overflow:hidden;}
.tuanList .tuanList-time { font-size: .625rem;line-height:1;padding:10px 0; }
.tuanList .tuanList-time:before { content: ""; display: inline-block; width: 13px; height: 12px; background: url(../images/tuanIcon.png) no-repeat; background-size: 80px 19.5px; background-position: -48.5px 0; vertical-align: -2px; margin-right: 4px; }
.tuanList .tuanList-kai .tuan-btn{font-size: 1rem;}
.tuanList .tuanList-msg-o { line-height: 18px; font-size: .75rem; padding: 8px 10px 8px; overflow: hidden; }
.tuanList .tuanList-msg-o:before { content: ""; float: left; width: 14px; height: 14px; background: url(../images/tuanIcon.png) no-repeat; background-size: 80px 19.5px; background-position: -63px 0; margin-top: 2px }
.tuanList .tuanList-msg-o p { margin-left: 18px; }
.tuanList .tuanList-pic { position: relative; overflow: hidden;}
.tuanList .tuanList-pic img {min-width:320px;min-width:160px;}
.tuanList-price-o2 { margin: 0 10px; padding: 0; }
.tuanList-price-o2 .prive-title { font-size: .875rem; font-weight: bold; }
.tuanList-price-o2 .price-info { margin-left: 8px; background: #f5f1ed; border: 1px solid #fe8a0d; border-radius: 5px; font-size: .75rem; line-height: 22px; margin: 10px 0 10px 8px; }
.tuanList-price-o2 .price-info ul { border-radius: 5px; }
.tuanList-price-o2 .price-info li { padding: 0 5px; position: relative;margin:0;border:0; margin-bottom: 0;background:none;overflow: visible; }
.tuanList-price-o2 .price-info li.active { background: #fe8a0d; color: #fff; }
.tuanList-price-o2 .price-info li.active .orange { color: #fff; }
.tuanList-price-o2 .price-info li .currentPrice { position: absolute; top: 2px; right: -100px; width: 100px; color: #333; font-size: .75rem; }
.tuanList-price-o2 .price-info li .currentPrice:before { content: ""; float: left; width: 14.5px; height: 12px; background: url(../images/tuanIcon01.png); background-size: 14.5px 12px; margin-top: 4px; margin-right: 4px; margin-left: 10px; }

/*参团列表*/
.joinTuanList, .commodity {background: #fff; margin-top: 10px; border-bottom: 1px solid #e3e3e3; border-top: 1px solid #e3e3e3; }
.joinTuanList .joinTuanList-title, .commodity .commodity-title { height: 30px; line-height: 30px; background: #f2f0ed; font-size: .75rem; color: #333; border-bottom: 1px solid #e3e3e3;}
.joinTuanList .joinTuanList-title h2:before, .commodity .commodity-title h2:before { content: ""; display: inline-block; width: 21.5px; height: 18px; margin-left: 10px; margin-right: 10px; background: url(../images/tuanIcon.png) no-repeat; background-size: 80px 19.5px; background-position: -22px 0; vertical-align: middle; }
.joinTuan-list { padding: 0 10px; }
.joinTuan-list li { padding: 10px 0; border-bottom: 1px solid #e3e3e3; overflow: hidden; }
.joinTuan-list li:last-of-type { border-bottom: 0; }
.joinTuan-list .joinTuan-list-pic, .joinTuan-list .joinTuan-list-pic img { width: 42px; height: 42px; }
.joinTuan-list .joinTuan-list-content { height: 42px; margin: 0 10px; font-size: .75rem; line-height: 20px; padding-top: 4px; overflow: hidden; }
.joinTuan-list .joinTuan-list-title, .joinTuan-list .joinTuan-list-time { height: 20px; overflow: hidden; }
.joinTuan-list .joinTuan-list-title .black { font-size: .875rem; font-weight: bold; }
.joinTuan-list .tuan-btn { font-size: .75rem; }
.joinTuan-list-o{padding:0;}
.joinTuan-list-o li{padding:10px 10px;}
.joinTuan-list-o .joinTuan-list-content{font-size: .875rem;padding:12px 0;}
.joinTuan-list-o .joinTuan-list-content .black{float: left;margin-right: 6px;font-weight: bold;}
.joinTuan-list-o .joinTuan-list-time-o{font-size: .75rem;padding:12px 0;}
.joinTuan-list-o .joinTuan-list-state{margin-left: 8px;}
.joinTuan-list-o .tuanLong{background: #f4e9de;}

/*商品详情*/
.commodity .commodity-title h2:before { width: 18px; height: 19.5px; background-position: 0 0; }
.commodity .commodity-content img { width: 100%; }
.commodity-steps { position: relative; height: 80px; overflow: hidden; }
.commodity-steps .commodity-line { height: 1px; overflow: hidden; border-top: 1px solid #fe8a0d; margin: 26px 40px 0; }
.commodity-steps [class^="commodity-step"] { position: absolute; top: 20px; width: 12.5px; height: 12.5px; background: #fff; border-radius: 7px; color: #9d958b; font-size: .625rem; line-height: 12px; text-align: center; border: 1px solid #fe8a0d; }
.commodity-steps [class^="commodity-step"] .commodity-text { position: absolute; top: 20px; left: -45px; width: 100px; height: 100px; color: #333; font-size: .75rem; text-align: center; line-height: 16px; }
.commodity-steps .commodity-step1 { left: 40px; }
.commodity-steps .commodity-step2 { left: 35%; }
.commodity-steps .commodity-step3 { left: 60%; }
.commodity-steps .commodity-step4 { right: 40px; }
.commodity-steps [class^="commodity-step"].active { background: #fe8a0d; color: #fff; }
.commodity-steps [class^="commodity-step"].active .commodity-text { color: #fe8a0d; }

/*参团人数进度条*/
.progress { height: 72px; margin: 10px 10px; background: #f1ece8; font-size: .875rem; padding: 5px; border-radius: 3px; }
.progress .progress-top { overflow: hidden; }
.progress-line { position: relative; height: 4px; overflow: hidden; background: #fff; border: 1px solid #e3e3e3; margin: 8px 0; }
.progress-line span { position: absolute; top: 0; left: 0; height: 4px; display: inline-block; background: #77b820; }
.progress-bottom { text-align: center; }

/*开团参团成败提示*/
.tuanInfo-msg { position: absolute; top: 0; left: 0; width: 100%; height: 49px; overflow: hidden; border: 1px solid #fe8a0d; z-index: 100;}
.tuanInfo-msg .tuanInfo-back, .tuanInfo-msg .tuanInfo-box { width: 100%; height: 100%; }
.tuanInfo-msg .tuanInfo-back { background: #fff; opacity: 0.9; }
.tuanInfo-msg .tuanInfo-box { position: absolute; top: 0; left: 0; text-align: center; }
.tuanInfo-msg .tuanInfo-box .tuanInfo-state { font-size: .875rem; line-height: 20px; margin-top: 4px; }
.tuanInfo-msg .tuanInfo-box .tuanInfo-p { font-size: .75rem; line-height: 20px; }
.tuanInfo-msg-o{height:28px;}

.spellTuan-btn, .spellTuan-btn .spellTuan-back, .spellTuan-btn .spellTuan-box { width: 45px; height: 45px;overflow: hidden; }
.spellTuan-btn { position: absolute; top: 37px; right: 5px; z-index: 100; }
.spellTuan-btn .spellTuan-back { background: #fff; opacity: 0.9; border: 1px solid #fd8f0d; border-radius: 22.5px; }
.spellTuan-btn .spellTuan-box { position: absolute; top: 3px; left: 12px; font-size: .75rem; line-height: 16px; transform: rotate(-20deg); -webkit-transform: rotate(-20deg); }
.spellTuan-btn-o .spellTuan-back { border: 1px solid #aaa9a4; }

.spellTuan-popup { position: fixed; top: 0; left: 0; z-index: 100; }
.spellTuan-popup, .spellTuan-popup .spellTuan-back { width: 100%; height: 100%; }
.spellTuan-popup .spellTuan-back { background: #000; opacity: 0.5; }
.spellTuan-popup .spellTuan-box { position: absolute; top: 50%; left: 0; margin: 0 10px; margin-top: -57px; background: #fff; border-radius: 3px; padding: 10px; }
.spellTuan-popup .spellTuan-box .tuan-btn { width: 100%; display: block; color: #fff; margin-top: 8px; }
.spellTuan-popup .spellTuan-box p { font-size: .875rem; border-bottom: 1px solid #e3e3e3; line-height: 20px; color: #333; padding: 8px 0; }

/*开团参团成功后邀请人参团提示*/
.tuanInfo-link, .tuanInfo-fixed, .tuanInfo-link .tuanInfo-back { width: 100%; height: 50px; }
.tuanInfo-fixed { position: fixed; bottom: 0; left: 0; }
.tuanInfo-link .tuanInfo-back { background: #000; opacity: 0.5; }
.tuanInfo-link .tuanInfo-box { position: absolute; top: 0; left: 0; height: 30px; margin: 10px 10px; background: #fff; text-align: center; font-size: .75rem; line-height: 30px; border-radius: 3px; }

/*支付*/
.tuanPay .tuanPay-status, .tuanPay-form { padding: 8px 10px; font-size: .875rem; background: #fff; margin-bottom: 10px; }
.tuanPay-form { padding: 0 10px; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; }
.tuanPay .tuanPay-input { position: relative; overflow: hidden; padding: 8px 0; }
.tuanPay .tuanPay-input label { position: absolute; top: 0; left: 0; padding: 8px 0;line-height: 30px; }
.tuanPay .tuanPay-input .input-box { margin-left: 75px;line-height:30px;font-size:.75rem; }
.tuanPay .tuanPay-input .input-box input,
.tuanPay .tuanPay-input .input-box textarea{width: 100%;resize:none;border:1px solid #e3e3e3;border-radius:3px;padding:0 5px;overflow: hidden;}
.tuanPay .tuanPay-input .input-box input{line-height:30px;height:30px;}
.tuanPay .tuanPay-input .input-box textarea{margin-top:5px;display:block;}
.tuanPay .tuanPay-input:last-of-type{border-bottom: 0;}
.tuanPay-o{margin-top: 10px;margin-bottom: 10px;}

/*订单详情*/
.orderDetail{margin-bottom: 10px;}
.orderDetail-info {position:relative; width: 100%; padding: 10px; background: #fff; }
.orderDetail-info .orderDetail-pic, .orderDetail-info .orderDetail-pic img { width: 40px; height: 40px; overflow: hidden; }
.orderDetail-info .orderDetail-content { line-height: 20px; margin-left: 50px; padding-top: 2px;padding-right:50px; }
.orderDetail-info .orderDetail-content .orderDetail-title { font-size: .875rem; font-weight: bold; }
.orderDetail-info .orderDetail-content .orderDetail-item { font-size: .75rem; }
.orderDetail-info .orderDetail-content .orderDetail-item .grey { margin-left: 8px; }

.orderDetail-List { background: #fff; margin-top: 10px;border-bottom: 1px solid #e3e3e3; }
.orderDetail-List .orderDetail-item { border-bottom: 1px solid #e3e3e3; overflow: hidden; padding: 8px 0; margin: 0 10px; }
.orderDetail-List .orderDetail-item label, .orderDetail-List .orderDetail-item p { float: left; font-size: .75rem; color: #333; }
.orderDetail-status{position:absolute;bottom:10px;right:10px;font-size:.625rem;}
.orderDetail-List .orderDetail-item:last-of-type{border-bottom:0;}

/*我的团*/
.myTuan{overflow: hidden;}
.myTuan .myTuan-tab , .myTuan .myTuan-back, .myTuan .myTuan-box, .myTuan .myTuan-tab-fixed{ position: relative; height: 44px; line-height: 43px; }
.myTuan .myTuan-tab a { float: left; width: 50%; text-align: center; font-size: 1rem; color: #333; }
.myTuan .myTuan-tab a.active { color: #fe8a0d; }
.myTuan .myTuan-tab .line { position: absolute; bottom: -1px; left: 0; width: 50%; height: 1px; overflow: hidden; border-top: 1px solid #fe8a0d; }
.myTuan .myTuan-tab-fixed{position: fixed;top:0;left:0;width: 100%;z-index:100;}
.myTuan .myTuan-back{width: 100%;background: #fff;}
.myTuan .myTuan-box{position: absolute;top:0;left:0;width: 100%;border-bottom: 1px solid #e3e3e3; }
.myTuan .myTuan-content {margin-bottom: 10px; position: relative;float: left;}
.myTuan .myTuan-item { width: 100%; margin-top: 10px; border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; }
.myTuan .mi-top { height: 34px; line-height: 34px; background: #f8f4f0; font-size: .75rem; border-bottom: 1px solid #e3e3e3; padding: 0 10px; }
.myTuan .mi-top .mi-title span[class$="Icon"]:before, .myTuan .mi-top .mi-cha:before { content: ""; width: 16px; height: 14px; display: inline-block; background: url(../images/myTuanIcon.png) no-repeat; background-size: 90px 14px; vertical-align: -3px; margin-right: 4px; }
.myTuan .mi-top .mi-title span[class$="Icon"] span { margin-left: 10px; }
.myTuan .mi-top .mi-cha { float: right; }
.myTuan .mi-top .mi-cha:before { width: 15px; height: 12px; background-position: -69px 0; margin-right: 0;vertical-align: -2px; }
.myTuan .mi-content { padding: 10px;overflow: hidden; }
.myTuan .mi-content .mi-pic, .myTuan .mi-content .mi-pic img { width: 80px; height: 80px; }
.myTuan .mi-content .mi-pic { float: left; }
.myTuan .mi-content .mi-pic img { }
.myTuan .mi-content .mi-con { margin-left: 90px; line-height: 20px;}
.myTuan .mi-content .mi-con .mi-tit { max-height: 42px; overflow: hidden; font-size: .875rem; font-weight: bold; }
.myTuan .mi-content .mi-con .mi-time { font-size: .75rem; }
.myTuan .mi-top .mi-title span.timeIcon:before { background-position: 0 0; }
.myTuan .mi-top .mi-title span.failIcon:before { background-position: -17px 0; }
.myTuan .mi-top .mi-title span.successIcon:before { background-position: -34.5px 0; }
.myTuan .mi-top .mi-title span.repairIcon:before { background-position: -52px 0; }

/*我的订单*/
.order-item {background:#fff; border-top: 1px solid #e3e3e3; margin-bottom: 10px; }
.order-item .oi-time { display: block; height: 32px; line-height: 32px; color: #333; font-size: .875rem; padding: 0 10px; }
.order-item .oi-content { padding: 10px;overflow:hidden; }
.order-item .oi-pic, .order-item .oi-pic img { width: 80px; height: 80px; }
.order-item .oi-con { margin-left: 90px; line-height: 20px; }
.order-item .oi-con .oi-tit { font-size: .875rem; }
.order-item .oi-con .oi-p { font-size: .75rem; }
.order-item .oi-con .oi-p span { margin-left: 8px; }
.order-item  .oi-bottom { font-size: .875rem; color: #fe8a0d; text-align: center; height: 31px; line-height: 31px; }

/*个人中心*/
.myCenter .myCenter-top { height: 80px; background: url(../images/myCenterBack.jpg) no-repeat; background-size: cover; padding: 0 10px; }
.myCenter .yCenter-pic, .myCenter .myCenter-pic img { width: 60px; height: 60px;border-radius:30px; }
.myCenter .yCenter-pic, .myCenter .myCenter-pic{margin-top: 10px;}
.myCenter .myCenter-con { margin-left: 70px; font-size: .875rem; line-height: 22px; padding-top: 20px; }
.myCenter .myCenter-con .myCenter-tit, .myCenter .myCenter-con .myCenter-txt { height: 22px; overflow: hidden; }
.myCenter .myCenter-con .myCenter-school a { color: #333; }
.myCenter .myCenter-con .myCenter-school .school:after, .myCenter .myCenter-con .myCenter-school:before { content: ""; display: inline-block; background: url(../images/myCenterIcon.png) no-repeat; background-size: 115px 23px; vertical-align: middle; }
.myCenter .myCenter-con .myCenter-school:before { width: 9.5px; height: 14px; background-position: 0 0; vertical-align: -2px; }
.myCenter .myCenter-con .myCenter-school .school:after { width: 10px; height: 5px; background-position: -12px 0; margin-left: 4px; }

.myCenter-content { border-top: 1px solid #e3e3e3; background: #fff; }
.myCenter-content li { font-size: .875rem; line-height: 42px; height: 42px; margin: 0 10px; border-bottom: 1px solid #e3e3e3; }
.myCenter-content li a { display: block; height: 42px; color: #333; }
.myCenter-content li a:before, .myCenter-content li a:after { display: inline-block; width: 23px; height: 23px; margin-right: 5px; content: ''; vertical-align: -6px; background: url(../images/myCenterIcon.png) no-repeat; background-size: 115px 23px; }
.myCenter-content li a.orderIcon:before { background-position: -24.5px 0; }
.myCenter-content li a.myTuanIcon:before { background-position: -52px 0; }
.myCenter-content li a.myXiaokaIcon:before { background-position: -80.5px 0; }
.myCenter-content li a:after { float: right; width: 5.5px; height: 10px; margin-top: 15px; background-position: -108px 0; }

.myCenter-info { border-bottom: 1px solid #e3e3e3; background: #fff; overflow: hidden; }
.myCenter-info .myCenter-item { border-bottom: 1px solid #e3e3e3; height: 35px; line-height: 35px; margin: 0 10px; overflow: hidden; }
.myCenter-info .myCenter-item label { float: left; font-size: .875rem; }
.myCenter-info .myCenter-item label:before { content: ""; display: inline-block; background: url(../images/myCenterIcon01.png) no-repeat; background-size: 115px 20.5px; vertical-align: middle; margin-right: 6px; }
.myCenter-info .myCenter-item label.id:before { width: 22px; height: 17px; background-position: 0 0; vertical-align: -3px; }
.myCenter-info .myCenter-item label.consignee:before { width: 22px; height: 20px; background-position: -29px 0; vertical-align: -5px; }
.myCenter-info .myCenter-item label.phone:before { width: 22px; height: 20.5px; background-position: -62px 0; vertical-align: -5px; }
.myCenter-info .myCenter-item label.address:before { width: 22px; height: 17.5px; background-position: -92px 0; vertical-align: -3px; }
.myCenter-info .myCenter-item .input { margin-left: 100px; }
.myCenter-info .myCenter-item .input input { width: 100%; height: 35px; line-height: 35px; border: 0; background: none; }
.myCenter-info .myCenter-item:last-of-type{border-bottom: 0;}
.myCenter-weixinInfo { border: 1px solid #fe8a0d; background: #fff; overflow: hidden; margin: 10px; border-radius: 5px; padding: 5px; }
.myCenter-weixinInfo .mwi-item { overflow: hidden; font-size: .875rem; line-height: 30px; }
.myCenter-weixinInfo .mwi-item label { float: left; width: 76px; text-align: right; }
.myCenter-weixinInfo .mwi-item .text { margin-left: 76px; }
.tuanPay-btn-o { margin-top: 10px; background: #fff; color: #fe8a0d; border: 1px solid #fe8a0d; padding:7px 0;}

/*动画*/
.schoolSearchForm input[type="button"].button { left: 6px; margin-left: 0px;transition:all .2s; }
.schoolSearchForm input[type="text"].text { width: 100%;transition:all .2s; }
.schoolSearchForm.searchForm {  margin-left: 30px;transition:all .2s;}

.tabContent-item{overflow:hidden;}

.msg-y{color:grey;font-size:1rem;padding:.625rem;text-align:center;}

.tabContentItem{display:none;}

.loading {
  display: none;
  min-height: 50px;
  background: url(http://localhost:8080/wm-plat/tg/weixin/images/loading.gif) no-repeat center center;
  -webkit-background-size: 19px auto;
  background-size: 19px auto;
}

.topCell{display:none;position:fixed;bottom:135px;right:15px;z-index:10000;background:#fff;margin-left:10px;border:2px solid #e3e3e3;width:35px;height:35px;overflow:hidden;border-radius:35px;}
.topCell span{display:block;border-left:2px solid #e3e3e3;border-top:2px solid #e3e3e3;width:13px;height:13px;transform:rotate(45deg);margin:12px auto 0;}



.tuanPay .tuanPay-input .input-box input.min,.tuanPay .tuanPay-input .input-box input.minfive, .tuanPay .tuanPay-input .input-box input.addfive,.tuanPay .tuanPay-input .input-box input.add, .tuanPay .tuanPay-input .input-box input.text_box{
	width:15%;
	height:30px;
	border:1px solid #e6e6e6;
	background: none;
	color:#333;
	font-size: 20px;
	border-bottom-left-radius:3px; 
	border-top-left-radius:3px; 
	background: #efefef;
	vertical-align: middle;
	font-weight:normal;
	/*background:url(../images/icon.png) 2px -376px  no-repeat;	*/
}
.tuanPay .tuanPay-input .input-box input.add,.tuanPay .tuanPay-input .input-box input.addfive{
	border-bottom-left-radius:0; 
	border-top-left-radius:0; 
	border-bottom-right-radius:3px; 
	border-top-right-radius:3px; 
	/*background:url(../images/icon.png) 2px -336px  no-repeat;*/
}

.tuanPay .tuanPay-input .input-box input.text_box{background:#fff;font-size:12px;width:70px;text-align:center;}