html{
		font-size: 100px;
		/*overflow: hidden;*/
		/*overflow-x:hidden;*/
	}
	body {
/*overflow-x:hidden;
overflow-y:hidden;*/
}
  .header{
  	width: 100%;
  	height: 44px;
  	line-height: 44px;
  	text-align: center;
  	font-size:18px;
  	color: white;
  	background: #d94336;
  }
  .footer{
  	position: fixed;
  	width: 100%;
  	bottom: 0px;
  	right: 0px;
  	height: 44px;
  	line-height: 44px;
  	background: linear-gradient(to right,black,#2f2e2e,black)
  }
  .footer p{
  	width: 25%;
  	/*background: pink;*/
  	float: left;
  	height: 44px;
  	line-height: 69px;
  }
   .footer p.first{
   	background: url(../img/bottom-homepage.png) no-repeat center 5px;
   	background-size: 18px 18px;
   	text-align: center;
   }
   .footer p.two{
   	background: url(../img/bottom-ranking.png) no-repeat center 5px;
  
   	background-size: 18px 18px;
   	text-align: center;
   }
   .footer p.three{
   	background: url(../img/bottom-find.png) no-repeat center 5px;
   	background-size: 18px 18px;
   	text-align: center;
   }
   .footer p.four{
   	background: url(../img/bottom-my.png) no-repeat center 5px;
   	background-size: 18px 18px;
   	text-align: center;
   }
   /*mian*/
  .main{
  	position: relative;
  	/*background: #fffcdb ;*/
  	/*position: relative;
  	padding-top: 5px;
  	width: 100%;
  	height: 2.10rem;
  	background:#fffcdb url("img/homepage-bg.png") no-repeat center 5px ;
  	background-size: cover;*/
  }
  .personage{
  	position: absolute;
  	top: 0.10rem;
  	left: 0.40rem;
  	width: 80%;
  	margin: 0 auto;
  }
  .personage p.first{
  	float: left;
  	width: 33px;
  	height: 33px;
  	background: url("../img/hint1.png") no-repeat center center;
  	background-size: 33px 33px;
  }
  .personage p.two{
  	float: right;
  	width: 43px;
  	height: 31px;
  	background: url("../img/hint.png") no-repeat center center;
  	background-size: 39px 30px;
  }
  .clearfix:after{
    display:block;
    height:0px;
    clear:both;
    content:".";
    visibility:hidden;
    zoom:1;
}
.signin{
	width: 100%;
	position: absolute;
	top:0.56rem;
}
.signin p.first{
	position: absolute;
  	padding-left: 3px;
  	padding-right: 2px;
  	height: 15px;
  	border-radius: 3px;
  	background: #f39723;
  	position: absolute;
  	right: 10px;
  	font-size: 10px;
  	line-height: 15px;
  	text-align: center;
  	color: white;
  	
  }
  .signin p.first span:first-child{
  	padding-left: 17px;
  	background: url("../img/signin.png") no-repeat left center;
  	background-size: 14px 14px ;
  }
  p{
  	margin-bottom:0px ;
  	font-size: 10px;
  	color: white;
  }
  .signin div.two{
	position: absolute;
  	padding-left: 3px;
  	padding-right: 2px;
  	height: 15px;
  	border-radius: 4px;
  	background: #f39723;
  	position: absolute;
  	right: 19px;
  	top:25px;
  	font-size: 10px;
  	line-height: 15px;
  	text-align: center;
  	color: white;
  	padding-left: 17px;
  	background:#f39723 url("../img/signin1.png") no-repeat 2px center;
  	background-size: 14px 14px ;
  }
  /*.signin div.two p:first-child{
  	padding-left: 17px;
  	background: url("img/signin1.png") no-repeat left center;
  	background-size: 14px 14px ;
  }*/
  .money{
  	margin: 0 auto;
  	font-size: 14px;
  	width: 100%;
  	height: 0.18rem;
  	line-height: 0.18rem;
  	text-align: center;
  	position: absolute;
  	bottom: 0.18rem;
  }
  .money span:first-child{
  	background: url(../img/money.png) no-repeat left center;
  	background-size: 16px 16px ;
  	padding-left: 20px;
  }
  .money span:last-child{
  	color: red;
  }
  .menu{
  	background: #fefaee;
  	width: 100%;
  	height: 1.00rem;
  }
  .submenu{
  	margin: 0 auto;
  	width: 80%;
  	height: 100px;
  	font-size: 10px;
  }
  .submenu p{
  	width: 25%;
  	float: left;
  	height: 147px;
  	line-height: 147px;
  	text-align: center;
  	color: #332c2b;
  }
  	
   .submenu p.one{
   	background: url(../img/login-menu1.png) no-repeat center 17px;
   	background-size: 42px 42px;
   	text-align: center;
   }
   .submenu p.two{
   	background: url(../img/login-menu2.png) no-repeat center 17px;
   	background-size: 42px 42px;
   	text-align: center;
   }
   .submenu p.three{
   	background: url(../img/login-menu3.png) no-repeat center 17px;
   	background-size: 42px 42px;
   	text-align: center;
   }
   .submenu p.four{
   	background: url(../img/login-menu4.png) no-repeat center 17px;
   	background-size: 42px 42px;
   	text-align: center;
   }
   .text{
   	height: 2.65rem;
   	width: 100%;
   background: #eeeeef;	
   }
   .yello{
		background: yellow;
		border-radius: 50%;
	}
	

/*规则*/
.rulePopup{
		display: none;
		width: 70%;
		height: 300px;
		background: white;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -35%;
		margin-top: -150px;
		border-radius: 8px;
	}
	.rulePopup .one{
		color: black;
		background: url("../img/rule.png")no-repeat left center;
		background-size:14px 14px ;
		padding-left: 20px;
		width: 70px;
		margin: 10px auto 0px;
	}
	.rulePopup .two{
		color: white;
		font-size: 18px;
		text-align: center;
		background: #d94336;
		width: 1.3rem;
		margin: 10px auto 0px;
		height: 25px;
		line-height: 25px;
		border-radius: 7px;
	}