html{
		font-size: 100px;
		/*overflow: hidden;*/
		/*overflow-x:hidden;*/
	}
	body {
/*overflow-x:hidden;
overflow-y:hidden;*/
}
  .header{
  	width: 100%;
  	height: 44px;
  	line-height: 44px;
  	text-align: center;
  	font-size:18px;
  	color: white;
  	background: #d94336;
  }
  .footer{
  	position: fixed;
  	width: 100%;
  	bottom: 0px;
  	right: 0px;
  	height: 44px;
  	line-height: 44px;
  	background: linear-gradient(to right,black,#2f2e2e,black);
  	z-index: 1000;
  }
  .footer p{
  	width: 25%;
  	/*background: pink;*/
  	float: left;
  	height: 44px;
  	line-height: 69px;
  	color:white;
  	font-size:10px;
  }
   .footer p.first{
   	background: url(../img/bottom-homepage.png) no-repeat center 5px;
   	background-size: 18px 18px;
   	text-align: center;
   }
   .footer p.two{
   	background: url(../img/bottom-ranking.png) no-repeat center 5px;
  
   	background-size: 18px 18px;
   	text-align: center;
   }
   .footer p.three{
   	background: url(../img/bottom-my.png) no-repeat center 5px;
   	background-size: 18px 18px;
   	text-align: center;
   }
   .footer p.four{
   	background: url(../img/bottom-find.png) no-repeat center 5px;
   	background-size: 18px 18px;
   	text-align: center;
   }
   /*rankingMain*/
 .rankingMain img{
   	width: 100%;
   	height: 129px;
   	padding:0;
   	border:0;
   	margin:0;
   	display:block;
   }
      .rankingMain .one{
      	background: #fff8f1;
      }
   .rankingMain .one p{
   	margin-left:20px ;
   	margin-bottom: 0px;
   	color: black;
   	height: 35px;
   	line-height: 35px;
   	background: #fff8f1 url(../img/fire.png) no-repeat left center;
   	background-size:22px 25px  ;
   	padding-left: 28px;
   }
   .mui-table-view{
   	margin-top: 10px;
   }
   .mui-pull-right{
   	float: left;
   }
   .mui-table-view .mui-media-object{
   	max-width: 80px;
   	height: 80px;
   }
   .mui-media-body{
   	text-align: center;
   	margin-top: 20px;
   
   }
   .mui-media-body .mui-ellipsis{
   		font-size: 16px;
   		color: black;
   		width:100px;
   }

.rankingMain1{
	margin-top: 10px;
}
.rankingMain1 .one{
      	background: #fff8f1;
      }
   .rankingMain1 .one p{
   	margin-left:20px ;
   	margin-bottom: 0px;
   	color: black;
   	height: 35px;
   	line-height: 35px;
   	background: #fff8f1 url(../img/footprint.png) no-repeat left center;
   	background-size:22px 25px  ;
   	padding-left: 28px;
   }
   .rankingbottom{
		width: 100%;
		height: 50px;
		margin-bottom: 70px;
		background: url("../img/titleUp.png") no-repeat center 8px;
		background-size: 25px 20px;	
	}