html{
		font-size: 100px;
		background: #2a292f;
	}
	body {
		background: #2a292f;
		color: white;
		}
  .header{
  	width: 100%;
  	height: 44px;
  	line-height: 44px;
  	text-align: center;
  	font-size:20px;
  	color: white;
  	background: #d94336;
  }
  .footer{
  	position: fixed;
  	width: 100%;
  	bottom: 0px;
  	right: 0px;
  	height: 44px;
  	line-height: 44px;
  	background: linear-gradient(to right,black,#2f2e2e,black)
  }
  .footer p{
  	width: 33.3%;
  	/*background: pink;*/
  	float: left;
  	height: 44px;
  	line-height: 69px;
  }
   .footer p.first{
   	background: url(../img/bottom-homepage.png) no-repeat center 5px;
   	background-size: 18px 18px;
   	text-align: center;
   }
   .footer p.two{
   	background: url(../img/bottom-ranking.png) no-repeat center 5px;
  
   	background-size: 18px 18px;
   	text-align: center;
   }
   .footer p.three{
   	background: url(../img/bottom-my.png) no-repeat center 5px;
   	background-size: 18px 18px;
   	text-align: center;
   }
.honorbgheader{
	position: relative;
		background: #2a292f;
}   
.honorbgheader img{
	width: 50%;
	height: 95px;
	margin-left:25%;
}
.honorbgheader p{
	color: white;
	position: absolute;
	top: 20px;
	left:40%;
	font-size: 20px;
}

.myMain{
	background: #2a292f;
	width: 100%;
	height: 144px;
	/*background: url("../img/mybg.png") no-repeat center center;*/
	background-size:100% 180px ;
}
 .myMain p{
 	margin-bottom: 0px;
 	text-align: center;
 	color: white;
 }
  .myMain p.one img{
  	margin: 0 auto ;
   	height: 65px;
   	width: 65px;
  
   }
    .myMain p.two{
    	font-size: 16px;
    }
     .myMain p.three{
    	font-size: 14px;
    }
    .medalShow{
    	background: #2a292f;
    	width: 80%;
    	margin: 0 auto;
    }
    .medalShow p{
    	float: left;
    	width: 33.3%;
    	text-align: center;
    }
    .medalShow img{
    	width: 46px;
    	height: 57px;
    }
 .clearfix:after{
    display:block;
    height:0px;
    clear:both;
    content:".";
    visibility:hidden;
    zoom:1;
}
.divide{
	width: 80%;
	height: 10px;
	background:#6c6c6c;
	margin: 0 auto;
}
.mt10{
	margin-top: 10px;
}
