html{
		font-size: 100px;
	}
  .header{
  	width: 100%;
  	height: 44px;
  	line-height: 44px;
  	text-align: center;
  	font-size:18px;
  	color: white;
  	background: #d94336;
  }
  .footer{
  	position: fixed;
  	width: 100%;
  	bottom: 0px;
  	right: 0px;
  	height: 44px;
  	line-height: 44px;
  	background: linear-gradient(to right,black,#2f2e2e,black)
  }
  .footer p{
  	width: 33.3%;
  	/*background: pink;*/
  	float: left;
  	height: 44px;
  	line-height: 69px;
  	font-size: 14px;
  	color: white;
  }
   .footer p.first{
   	background: url(../img/bottom-homepage.png) no-repeat center 5px;
   	background-size: 18px 18px;
   	text-align: center;
   }
   .footer p.two{
   	background: url(../img/bottom-ranking.png) no-repeat center 5px;
  
   	background-size: 18px 18px;
   	text-align: center;
   }
   .footer p.three{
   	background: url(../img/bottom-my.png) no-repeat center 5px;
   	background-size: 18px 18px;
   	text-align: center;
   }
   