/*CSS reset*/  
html{color:#000;background:#363636;font-family:'Microsoft Yahei'}  
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}  
table{border-collapse:collapse;border-spacing:0;}  
fieldset,img{border:0;}  
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}  
del,ins{text-decoration:none;}  
li{list-style:none;}
a{text-decoration:none}
em,i{font-style:normal}
caption,th{text-align:left;}  
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}   
abbr,acronym{border:0;font-variant:normal;}  
sup{vertical-align:baseline;}  
sub{vertical-align:baseline;}  
legend{color:#000;}  
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}  
input,button,textarea,select{font-size:100%;} 
.hd:after,.bd:after,.ft:after,.header:after,.wrap:after,.footer:after{content:"";display:table;clear:both}
/*定位*/  
.tl{text-align:left;}  
.tc{text-align:center;}  
.tr{text-align:right;}  
.bc{margin-left:auto;margin-right:auto;}/*块级元素水平居中（前提是块级元素有设置宽度）*/  
.fl{float:left;display:inline;}/*消除ie6浮动产生的双边距*/  
.fr{float:right;display:inline;}/*消除ie6浮动产生的双边距*/  
.cb{clear:both;}/*清除浮动*/  
.cl{clear:left;}/*清除左浮动*/  
.cr{clear:right;}/*清除右浮动*/  
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}  /*解决内部层浮动导致外部层高度塌陷*/
.clearfix{*zoom:1;}/*触发IE浏览器的haslayout。解决ie下的浮动，margin重叠等一些问题*/  
.vm{vertical-align:middle;}  
.pr{position:relative;}  
.pa{position:absolute;}  
.hidden{visibility:hidden;}  
.none{display:none;}  