#set($base = '${base}')
#set($url = '${url}')
#set($obj = '${obj.')
#set($one = '${one.')
#set($one_id='${one.id}')
#set($obj_pager='${obj}')
#set($obj_pageNumber='${obj.pageNumber}')
#set($obj_pageSize='${obj.pageSize}')
<%@ page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" errorPage="/WEB-INF/common/500.jsp"%>
<%@include file="/WEB-INF/common/tld.jsp"%>

<c:set var="url" value="$base$atUrl" />

<form id="pagerForm" action="$url/list.html" method="post">
	<input type="hidden" name="pageNumber" value="$obj_pageNumber" />
	<input type="hidden" name="pageSize" value="$obj_pageSize" />
</form>

<div class="panel_search">
	<form action="$url/list.html" method="post" onsubmit="return navTabSearch(this);">
		<input type="hidden" name="pageNumber" value="$obj_pageNumber" />
		<input type="hidden" name="pageSize" value="$obj_pageSize" />
		<p><span class="ipts"><input class="btn btn_add" type="submit" value="检索"/></span></p>
	</form>
</div>

<div class="panel_box noborder">
	<div class="panel_content nopadding">
	
		<ul class="tabletools">
			<li><span class="ipts"><a href="$url/add.html" target="dialog" class="btn btn_mini btn_add">新增</a></span></li>
			<li><span class="ipts"><a href="$url/batchDelete" target="selectedTodo" rel="ids" postType="map" title="是否要批量删除" class="btn btn_mini btn_del">批量删除</a></span></li>
		</ul>
		<table class="table" width="100%">
			<thead>
				<tr>
					<th><input type="checkbox" group="ids" class="ipt_checkbox checkboxCtrl"></th>
#foreach ($field in $fieldList)
					<th>${field.comment}</th>
#end
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<c:forEach items="${obj.list}" var="one" >
					<tr>
						<td class="txtc"><input name="ids" value="$one_id" type="checkbox" class="ipt_checkbox"></td>
#foreach ($field in $fieldList)
						<td>$one${field.name}}</td>
#end
						<td>
							<a target="dialog" rel="user_update" href="$url/update.html?id=$one_id" class="btn btn_mini btn_modify">修改</a>
							<%--
								这里如果有写title，则需要确认才会操作
							 --%>
							<a target="ajaxTodo" rel="dlgId1" href="$url/delete?id=$one_id" title='是否要删除' class='btn btn_mini btn_del'>删除</a>
						</td>
					</tr>
				</c:forEach>
			</tbody>
		</table>
		
		<!-- 分页 start-->
		<we:page pager="$obj_pager"/>
		<!-- 分页 end-->	 
	</div>
</div>